#FLASK
FLASK_ENV=development
SECRET_KEY=change-me

#CORS
CORS_ORIGINS=["http://localhost:5173","http://localhost:3000"]

#Mongo
MONGODB_URI=mongodb+srv://username:password@cluster0.hrvnmue.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB=database_name

ADMIN_BEARER_TOKEN=super-secret-admin-token
